@import "../../templates/variables";

.has-gutter.af-repos {
  grid-gap: 2rem;
}
.#{$prefix} {
  &-posts {
    &-item {
      border-radius: 3px;
      background: white;
      &__title {
        font-size: 2rem;
        font-weight: 900;
        text-transform: capitalize;
        padding: 1rem;
        margin: 0;
      }
      &__description {
        padding: 0 1rem;
        margin: 0 0 1rem 0;
        word-break: break-word;
        height: 100px;
        overflow: hidden;
      }
      &__avatar {
        width: 100%;
        object-fit: cover;
        height: 200px;
        border-radius: 3px 3px 0 0;
      }
    }
  }
}
