@import "../../templates/variables";

.#{$prefix} {
  &-nav {
    &__list {
      margin: 0;
      list-style: none;
      padding: 0;
      display: flex;
      font-size: 1.4rem;
    }
    &__item {
      margin-left: 2rem;
    }
    &__link {
      text-decoration: none;
      &:hover,
      &:focus {
        color: $color-blue-light;
      }
      &--active {
        color: $color-blue-light;
      }
    }
    &__toggle {
      display: none;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }
  }
}

@include respond-to("tiny") {
  .#{$prefix} {
    &-nav {
      &__list {
        flex-direction: column;
        align-items: center;
        display: none;
      }
      &__item {
        margin: 0;
        padding: 2rem;
      }
      &__link {
        font-size: 5rem;
        color: white;
        font-weight: 500;
        letter-spacing: -3px;
        &:hover,
        &:focus {
          color: white;
        }
      }
      &__toggle {
        display: block;
      }
      &--opened {
        top: 0;
        left: 0;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: $color-blue-light;
        padding-top: 5rem;
        .#{$prefix}-nav__list {
          display: block;
        }
        .#{$prefix}-nav__toggle {
          position: absolute;
          right: 2rem;
          top: 2rem;
        }
      }
    }
  }
}
