$prefix: "af";
$color-gold: #ffcb00;
$color-grey-01: #f5f7fa;
$color-blue-light: #2e97e5;
$color-blue-dark: #283172;
$color-red-dark: #e62c2e;

// --- override knacss
$font-family-base: "Source Sans Pro", sans-serif;
$font-family-headings: "Source Sans Pro", sans-serif;
