$prefix: "af";
$tiny: 480px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1440px;
$color-gold: #ffcb00;
$color-grey-01: #f5f7fa;
$color-blue-light: #2e97e5;
$color-blue-dark: #283172;
$color-red-dark: #e62c2e;
