@import "./variables";

.#{$prefix} {
  &-post {
    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 15rem;
    }
    &__title {
      font-weight: 100;
      text-align: center;
      font-size: 7rem;
      margin-bottom: 3rem;
    }
    &__avatar {
      width: 150px;
      margin-bottom: 2rem;
    }
    &__stars {
      text-align: center;
      padding: 0 1rem;
      width: 100%;
      display: flex;
      font-weight: 700;
      justify-content: center;
      margin-bottom: 3rem;
    }
    &__star-icon {
      fill: $color-gold;
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }
    &__github-link {
      position: fixed;
      right: -10px;
      top: 60px;
      z-index: 3;
      margin-right: 1rem;
      height: 0;
      width: 0;
      display: inline-table;
      border-top: 100px solid $color-blue-dark;
      border-left: 100px solid transparent;
    }
    &__github-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 2;
      fill: white;
      width: 40px;
      height: 40px;
      transform: rotate(45deg);
    }
    &__section {
      margin-bottom: 20rem;
    }
    &__article {
      &--left {
        padding: 0 3rem 0 5rem;
      }
      &--right {
        padding: 0 5rem 0 3rem;
      }
    }
    &__subtitle {
      font-size: 3.5rem;
      font-weight: 200;
      position: relative;
      padding-top: 2rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        width: 60px;
        height: 6px;
      }
      &--left {
        &:before {
          background: $color-red-dark;
        }
      }
      &--right {
        &:before {
          background: $color-blue-dark;
        }
      }
    }
    &__content {
      font-size: 2rem;
      font-weight: 200;
    }
    &__img {
      width: 80%;
      position: relative;

      &--left {
        box-shadow: 10px 30px 50px 0px rgba(226, 230, 232, 0.5),
          -100px -50px 0 0px $color-red-dark;
      }
      &--right {
        box-shadow: 10px -30px 50px 0px rgba(226, 230, 232, 0.5),
          100px -50px 0 30px $color-blue-dark;
      }
    }
    &__link {
      font-size: 2rem;
      color: $color-blue-light;
    }
  }
  &-footer-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    &__link {
      padding: 1rem 2rem;
      border: 1px solid $gray-600;
      border-radius: 30px;
      transition: all 0.5s linear;
      text-decoration: none;
      &:hover,
      &:focus {
        background: $color-blue-light;
        color: white;
        text-decoration: none;
      }
    }
  }
}

@include respond-to("medium") {
  .#{$prefix} {
    &-post {
      &__section {
        text-align: center;
        margin-bottom: 15rem;
      }
      &__header {
        margin-bottom: 10rem;
      }
      &__title {
        font-size: 5rem;
      }
      &__subtitle {
        font-size: 3rem;
        &:before {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &__img {
        width: 80%;
        margin: 0 auto 4rem auto;
        &--left {
          box-shadow: 10px 30px 50px 0px rgba(0, 0, 0, 0.5),
            0 -40px 0 30px $color-red-dark;
        }
        &--right {
          grid-row: 1;
          grid-column: 1;
          box-shadow: 10px -30px 50px 0px rgba(0, 0, 0, 0.5),
            0 -40px 0 30px $color-blue-dark;
        }
      }
    }
  }
}

@include respond-to("small") {
  .#{$prefix} {
    &-post {
      &__title {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }
  }
}

@include respond-to("tiny") {
  .#{$prefix} {
    &-post {
      &__section {
        display: flex;
        flex-direction: column;
      }
      &__img {
        order: 1;
      }
      &__article {
        order: 2;
      }
    }
  }
}
