@import "./variables";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900&display=swap");

* {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

body {
  background: $color-grey-01;
}

.#{$prefix} {
  &-main {
    min-height: 100vh;
    background: $gray-100;
  }
  &-container {
    max-width: $extra-large;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &--layout {
      flex-direction: column;
      padding-top: 2rem;
    }
  }
}
