@import "../../templates/variables";

.#{$prefix} {
  &-tags {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  &-tag {
    margin-right: 1rem;
    &__link {
      background: $gray-100;
      color: $gray-500;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      text-decoration: none;
      font-size: 1.4rem;
      &:hover,
      &:focus {
        color: $gray-700;
      }
    }
  }
}
