@import "../../templates/variables";

.#{$prefix} {
  &-header {
    top: 0;
    position: sticky;
    background: white;
    box-shadow: 0 0 5px 5px rgba(200, 200, 200, 0.2);
    z-index: $zindex-navigation;
    &__link {
      display: flex;
      text-decoration: none;
    }
    &__logo {
      width: 50px;
      height: 50px;
    }
    &__title {
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      margin: 0 0 0 1rem;
      justify-content: center;
      &-main {
        font-weight: 600;
        line-height: 1.4rem;
      }
      &-secondary {
        font-size: 1.2rem;
      }
    }
  }
  &-container {
    &--header {
      align-items: center;
      padding: 0.5rem 0;
    }
  }
}

@include respond-to("extra-large") {
  .#{$prefix} {
    &-header {
      padding: 0 2rem;
    }
  }
}
