@import "../../templates/variables";

.has-gutter.af-repos {
  grid-gap: 2rem;
}
.#{$prefix} {
  &-repo {
    border-radius: 3px;
    background: white;
    display: flex;

    &__content {
      width: 70%;
    }
    &__avatar {
      width: 30%;
      padding: 0 2rem;
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: capitalize;
      padding: 1rem 1rem 0 1rem;
      margin: 0;
    }
    &__description {
      font-size: 1.4rem;
      padding: 0 1rem;
      margin: 0;
      word-break: break-word;
      height: 70px;
      overflow: hidden;
    }
    &__links {
      padding: 0 1rem 1rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      color: $color-blue-light;
    }
    &__stars {
      padding: 0 1rem;
      width: 100%;
      display: flex;
      font-weight: 700;
    }
    &__star-icon {
      fill: $color-gold;
      width: 20px;
      height: 20px;
      margin-right: 1rem;
    }
  }
}

@include respond-to("very-large") {
  .#{$prefix} {
    &-repo {
      flex-direction: column;
      align-items: center;
      &__content {
        width: 90%;
      }
      &__avatar {
        width: 50%;
        height: 160px;
      }
    }
  }
}

@include respond-to("tiny") {
  .#{$prefix} {
    &-repo {
      margin: 0 auto 2rem auto;
      width: 90%;
    }
  }
}
